<nav class="flex flex-column items-center flex-row-ns flex-wrap-ns justify-center-ns justify-center-m justify-center-l pv3">

	<!-- Title -->
	<div class="flex flex-column items-center flex-row-ns pv2 pr6-ns pl0-m pr0-m">
	<a href="/" class="f5 ttu link dim b black-70">
		Castlebar Consulting
	</a>
	</div>

	<!-- Primary Nav -->
	<ul class="flex flex-column items-center flex-row-ns flex-wrap-ns lh-title justify-center-ns list pl0 ma0 f4 f6-ns">

		<div class="dropdown">

		<li class="ph3 link dim dark-gray">Market Commentary</li>
		<div class="pt2 dropdown-content">
<a href="/commentary" class="link dark-gray">Ethanol</a>
<a href="/commentary" class="link dark-gray">Crude Oil & Refined Products</a>
<a href="/commentary" class="link dark-gray">Sugar & Ethanol</a>
<a href="/commentary" class="link dark-gray">Natural Gas</a>
<a href="/commentary" class="link dark-gray">Coal</a>

		</div>
		</div>

		<div class="dropdown">

		<li class="ph3 link dim dark-gray">Technical Studies</li>
		<div class="pt2 dropdown-content">
<a href="/studies" class="link dark-gray">Ethanol</a>
<a href="/studies" class="link dark-gray">Crude Oil & Refined Products</a>
<a href="/studies" class="link dark-gray">Sugar & Ethanol</a>
<a href="/studies" class="link dark-gray">Natural Gas</a>
<a href="/studies" class="link dark-gray">Coal</a>

		</div>
		</div>

		<li><a href="/resources" class="ph3 link dim dark-gray">Resources</a></li>
		<li><a href="/about" class="ph3 link dim dark-gray">About</a></li>
		<li><a href="/contact" class="ph3 link dim dark-gray">Contact</a></li>

	</ul>

</nav>
