
{{ define "main" }}


<div class="bg-black-10 br3 ph3 pv5">
  <div class="tc">
    <img src="/img/ph_headshot.jpg" class="br-100 ba b--black-20 h4 w4 dib" title="Patricia Hemsworth">
    <h1 class="f3 pv3">About</h1>
    <!-- <hr class="mw3 bb bw1 b--black-10"> -->
  </div>

  <p class="lh-copy measure center f5 black-70">
    Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
Nulla quis lorem ut libero malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
  </p>
  <p class="lh-copy measure center f5 black-70">
    Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
Nulla quis lorem ut libero malesuada feugiat. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
  </p>
</div>
  {{ end }}
