{{ define "main" }}

<section class="flex flex-column items-center pv6 bg-black-10">
<div class="b f3 pv5 tc w-100">Contact Me</div>

<div class="lh-copy ph3 f5 text tc w-100">Donec sollicitudin molestie malesuada. Curabitur aliquet quam id dui posuere blandit.
	Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
	Donec velit neque, auctor sit amet aliquam.</div>

<div class="lh-copy text list pl0 pt4 pb5 w-100 tc">
	<span>
	<i class="fas fa-envelope green"></i>
	<a class="link dim green" href="mailto:phemsworth@yahoo.com">phemsworth@yahoo.com</a>
	</span>
</div>
</section>

{{ end }}
